<div>
    <h4>@LiteratureDownload.FileName</h4>
    <p><strong>Title:</strong> @LiteratureDownload.Title</p>
    <p><strong>PMC Id:</strong> @LiteratureDownload.PmcId</p>
    <p><strong>DOI: </strong> @LiteratureDownload.Doi</p>
</div>


