
<div>
    <p><strong>Result Count: </strong> @SearchResults.Count</p>
    <p><strong>Start Index: </strong>@SearchResults.RetStart</p>
    <p>
        <button class="btn btn-outline-primary" @onclick="@(async () => await SearchNextClicked.InvokeAsync())">
            Next
        </button>
    </p>
</div>